#{{ ansible_managed }}

User	"{{ pound_user }}"
Group	"{{ pound_group }}"

#RootJail  "/var/pound"

LogLevel {{ pound_log_level }}

## check backend every X secs:
Alive    {{ pound_alive }}

Control "{{ pound_control_socket }}"


{% for listenblock in pound_frontends %}
{{ listenblock.name }}
    Address {{ listenblock.address }}
    Port {{ listenblock.port }}
    xHTTP {{ listenblock.xHTTP | default(0)}}
{% if listenblock.cert is defined and listenblock.cert != None %}
    Cert "{{ listenblock.cert }}"
    Ciphers "{{ pound_ssl_ciphers }}"
    DisableSSLv3
    SSLHonorCipherOrder 1
{% endif %}
{% if listenblock.rewriteloc is defined and listenblock.rewriteloc != None %}
   RewriteLocation {{ listenblock.rewriteloc | default(0)}}
{% endif %}
{% if listenblock.headremove is defined  and listenblock.headremove != None %}
    HeadRemove "{{ listenblock.headremove }}"
{% endif %}
{% if listenblock.headadd  is defined and listenblock.headadd != None %}
    AddHeader "{{ listenblock.headadd }}"
{% endif %}
{% if listenblock.service is defined %}
{% for service in listenblock.service %}
      Service
{% if service.backend is defined %}
         BackEnd
             Address {{ service.backend }}
             Port {{ service.port }}
         End
{% endif %}
{% if service.headrequire is defined %}
        HeadRequire "{{ service.headrequire }}"
{% endif %}
{# note on later version use RedirectAppend #}
{% if service.redirect is defined %}
        Redirect "{{ service.redirect }}"
{% endif %}
      End
{% endfor %}
{% endif %}
   Err414 "{{pound_error_page}}"
   Err500 "{{pound_error_page}}"
   Err501 "{{pound_error_page}}"
   Err503 "{{pound_error_page}}"
End
{% endfor %}

{% for backend in pound_backends %}
Service "{{backend.name}}"
{% if backend.hostname is defined and backend.hostname != '' %}
    HeadRequire "Host:{{ backend.hostname }}"
{% endif %}
{% if backend.url is defined and backend.url != '' %}
    URL "{{ backend.url }}"
{% endif %}
{% for host in backend.hosts %}
    BackEnd
        Address {{ host.ipaddress }}
        Port {{ host.port }}
    End
{% endfor %}
End
{% endfor %}

